body{
    background-color: white;
}

#main{
    display: flex;
    flex-wrap: wrap;
    background-color: cadetblue;
    border-radius: 10px;
    margin-top: 40px; margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}

#title p{
    text-align: center; 
}

#title h1{
    font-size: 40px;
    padding-top: 10px;
}

#img-div{
    /*display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    margin-left: 20px; margin-right: 20px;
    padding-top: 40px;*/
    display: block;
    margin-left: auto; margin-right: auto;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#image{
    display: block;
    margin-left: auto; 
    margin-right: auto;
    max-width: 100%; height: auto;
    padding-top: 40px;
}

#img-caption{
    text-align: center;
    font-size: 20px;
}

#tribute-info h2{
    text-align: center;
}

#tribute-info {
    display: block;
    margin-left: auto; margin-right: auto;
    width: 80%;
}

.quote{
    text-align: center;
    font-style: italic;

}

.footer{
    font-size: 20px;
}
